<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}간단 오브젝트 스토리지{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head_content %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home_page') }}">홈</a></li>
                <li id="navDashboard" style="display: none;"><a href="{{ url_for('main.list_files_page') }}">내 파일</a></li>
                {# 👇 마이페이지 링크 추가 #}
                <li id="navMyPage" style="display: none;"><a href="{{ url_for('main.my_page') }}">마이페이지</a></li>
                <li id="navLogin"><a href="{{ url_for('main.login_page') }}">로그인</a></li>
                <li id="navRegister"><a href="{{ url_for('main.register_page') }}">회원가입</a></li>
                <li id="navLogout" style="display: none;"><a href="#" id="logoutButton">로그아웃</a></li>
            </ul>
            <div id="userInfo" style="text-align: right; padding: 5px;"></div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        <p>페이지 내용을 채워주세요.</p>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 나의 오브젝트 스토리지. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block page_scripts %}{% endblock %}
</body>
</html>
